src/main/webapp/WEB-INF/wsdl/LivrariaService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions targetNamespace="http://webservicelivraria.pos.ifpb.edu.br/" name="LivrariaService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservicelivraria.pos.ifpb.edu.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservicelivraria.pos.ifpb.edu.br/" schemaLocation="LivrariaService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="localizarLivros">
    <part name="parameters" element="tns:localizarLivros"/>
  </message>
  <message name="localizarLivrosResponse">
    <part name="parameters" element="tns:localizarLivrosResponse"/>
  </message>
  <message name="salvar">
    <part name="parameters" element="tns:salvar"/>
  </message>
  <message name="salvarResponse">
    <part name="parameters" element="tns:salvarResponse"/>
  </message>
  <message name="recuperarLivro">
    <part name="parameters" element="tns:recuperarLivro"/>
  </message>
  <message name="recuperarLivroResponse">
    <part name="parameters" element="tns:recuperarLivroResponse"/>
  </message>
  <portType name="LivrariaService">
    <operation name="localizarLivros">
      <input message="tns:localizarLivros"/>
      <output message="tns:localizarLivrosResponse"/>
    </operation>
    <operation name="salvar">
      <input message="tns:salvar"/>
      <output message="tns:salvarResponse"/>
    </operation>
    <operation name="recuperarLivro">
      <input message="tns:recuperarLivro"/>
      <output message="tns:recuperarLivroResponse"/>
    </operation>
  </portType>
  <binding name="LivrariaServicePortBinding" type="tns:LivrariaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="localizarLivros">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="salvar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="recuperarLivro">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="LivrariaService">
    <port name="LivrariaServicePort" binding="tns:LivrariaServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

